##ignor these files##
/data/
.idea
/__pycache__/
src/__pycache__/
/src/DRLB/Model/
/src/DRLB/__pycache__/
/src/DRLB/result/
/src/DRLB/data/
/src/No_threshold/Model/
/src/No_threshold/__pycache__/
/src/No_threshold/result/
/src/No_threshold_no_reward/Model/
/src/No_threshold_no_reward/__pycache__/
/src/No_threshold_no_reward/result/
/src/AC/No_threshold_no_reward/__pycache__/
/src/AC/No_threshold_no_reward/result/
/src/AC/No_threshold_no_reward/Model/
/src/PG/No_threshold_no_reward/__pycache__/
/src/PG/No_threshold_no_reward/result/
/src/PG/No_threshold_no_reward/Model/
/src/PG/No_threshold/__pycache__/
/src/PG/No_threshold/result/
/src/PG/No_threshold/Model/
/src/Test_seg_action/Model/
/src/Test_seg_action/result/
/src/Test_seg_action/__pycache__/
/src/Temp_seg_action/Model/
/src/Temp_seg_action/result/
/src/Temp_seg_action/__pycache__/
/src/DDPG/Model/
/src/DDPG/result/
/src/DDPG/result_profit/
/src/DDPG/__pycache__/
/src/DDPG/result_adjust_reward/
/src/DDPG_BN/Model/
/src/DDPG_BN/result/
/src/DDPG_BN/result_profit/
/src/DDPG_BN/result_adjust_reward/
/src/DDPG_BN/result_imp/
/src/DDPG_BN/__pycache__/
/src/DDPG_Dropout/Model/
/src/DDPG_Dropout/result/
/src/DDPG_Dropout/__pycache__/
/src/DDPG_IMP/result_imp/
/src/DDPG_IMP/Model/
/src/DDPG_IMP/result/
/src/DDPG_IMP/__pycache__/
